@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}

/*My hum... body.. yeah.. */
body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
}

/* The card */
.card {
  position: relative;
  height: 480px;
  width: 900px;
  margin: 4% auto;
  background-color: #FFF;

}
.card:hover{
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.0.5);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/* Image on the left side */


h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}


h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}


.mytitle{
  padding: 20px 20px 0px 20px;
  font-size: 30px;
  color: #a01d14;
  font-family: 'bavro-SIMPLIFICA_Typeface';

}
@font-face {
    font-family: 'SIMPLIFICA_Typeface';
    src:  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('/assets/webfont/SIMPLIFICA Typeface.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
