<app-navbar></app-navbar>
<div style="padding:1% 3% 3% 3%;"> 
<div class="row" style="padding-top: 8vh;">

    <!--Column 1-->
    <div class="col-lg-3">
            <div class="card" style="padding:20px 20px 5px 20px;margin-top:20px">
                    

                      


                    <div class="panel panel-warning">
                      <div class="panel-heading">Ratings</div>
                      <div class="panel-body">Nothing to show</div>
                    </div>

                    


                </div>
    </div>>
        <div class="col-lg-7">
    
                
                        <div class="card"  style="padding:20px 20px 5px 20px;margin-top:20px" >
                                <div class="panel panel-primary">
                                  <div class="panel-heading"><h3>Project recommedation as per your choise</h3></div>
                                </div>
                                <div class="panel panel-primary"  *ngFor="let item of emp_list ;index as i;">
                                  
                                  <div class="panel-heading">Project {{i}}<span style="float: right;">{{item.date | date}}</span></div>
                                  
                                  <div class="panel-body"><h4>{{item.project_name}}<span style="color:gray ;padding:10vh;">{{item.skills}}</span>
                                    <button (click) = "onProjectClick(item._id)" style="float: right ;" class="btn btn-info">
                                      <span class="glyphicon glyphicon-eye-open"></span></button></h4></div>
                                
                        </div>
                                
                                
                        </div>
        </div>


        
</div>
</div>
<app-footer></app-footer>