<app-navbar></app-navbar>
<div style="padding:1% 3% 3% 3%;">
<div class="row" style="padding-top: 8vh;">

    <!--Column 1-->
    <div class="col-lg-3">
            <div class="card" style="padding:20px 20px 5px 20px;margin-top:20px">
                    <div class="panel panel-warning">
                      <div class="panel-heading">Your skills</div>
                      <div class="panel-body"><h4></h4></div>
                    </div>
                    
                    <div class="panel panel-warning">
                      <div class="panel-heading">Ratings</div>
                      <div class="panel-body">Nothing to show</div>
                    </div>
                </div>
    </div>
        <div class="col-lg-7">
    
                
                        <div class="card"  style="padding:20px 20px 5px 20px;margin-top:20px">
                                <div class="panel panel-primary">
                                  <div class="panel-heading"><h3>Your project</h3></div>
                                </div>
                                <div class="panel panel-primary" *ngFor="let item of project_list ;index as i;">
                                  
                                  <div class="panel-heading">Project {{i+1}}<span style="float: right;">{{item.date | date}}</span></div>
                                  
                                  <div class="panel-body"><h4>{{item.project_name}}<span style="color:gray ;padding:10vh;">{{item.skills}}</span>
                                    <button (click) = "onProjectClick(item._id)" style="float: right ;" class="btn btn-info">
                                      <span class="glyphicon glyphicon-eye-open"></span></button></h4></div>
                                  
                                
                        </div>
                                
                                
                        </div>
        </div>


        <div class="col-lg-2">

                <!--Main profile card-->
                        <div class="card" style="padding:20px 20px 5px 20px;margin-top:20px">
                            
                           
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">New Project</button>

                          <!-- Modal: modalCart -->
                          <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header" style="background-color:lightblue;">
                                  <h4 class="modal-title" id="myModalLabel">Post your new project</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                <!--Body-->
                                <div class="modal-body">
                          
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <td><label>Name</label></td>
                                        <td><input type="text" #name required></td>
                                        
                                      </tr>
                                    
                                      <tr>
                                          <td><label>Discription</label></td>
                                          <td><textarea rows="4" cols="50" #discription required></textarea></td>
                                      </tr>
                                      <tr>
                                        
                                          <td><label>Required skills</label></td>
                                          <td><select class="browser-default custom-select" multiple #skills>
                                              <option selected>Android</option>
                                              <option value="Php,Mysql">Php,Mysql</option>
                                               <option value="IOS">IOS</option>
                                              <option value="Graphic Designing">Graphic Designing</option>
                                              <option value="Html,css">Html,css</option>
                                              <option value="Wordpress">Wordpress</option>
                                              <option value="Angular">Angular,node</option>
                                              <option value="NET">.NET</option>
                                              <option value="Python,django">Python,django</option>
                                              
                                            </select></td>
                                      </tr>
                                      <tr>
                                       
                                          <td><label>Budget</label></td>
                                          <td><input type="number" placeholder="Enter your budget" #budget required></td>
                                      </tr>
                                      <tr>
                                       
                                          <td><label>Duration</label></td>
                                          <td><input type="number" required placeholder="Enter maximum time for your project" #duration></td>
                                      </tr>
                                      
                                      <tr>
                                       
                                        <td><label>Contact</label></td>
                                        <td><input type="number" required placeholder="Enter your contact no" #contact></td>
                                    </tr>

                                      <tr>
                                       
                                          <td><label>Time for biding</label></td>
                                          <td><input type="number" required placeholder="Enter deadline to bid on your project" #bidtime></td>
                                      </tr>
                                     
                                    </thead>
                                  </table>
                          
                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" (click)="onPost(name.value,discription.value,skills.value,budget.value,duration.value,bidtime.value,contact.value)"data-dismiss="modal">Post</button>
                                </div>
                              </div>
                            </div>
                          </div>
                            <p></p>
                        </div>

                        <div class="card" style="padding:20px 20px 5px 20px;margin-top:20px">
                          <div class="panel panel-primary">
                            <div class="panel-heading">History</div>
                          </div>
                          <div class="panel panel-primary">
                            <div class="panel-heading">Projct 4</div>
                            <div class="panel-body">18/01/2018</div>
                          </div>
                          
                          <div class="panel panel-primary">
                            <div class="panel-heading">Project 5</div>
                            <div class="panel-body">11/06/2018</div>
                          </div>
                      </div>
        </div>
</div>
</div>
<app-footer></app-footer>