@media only screen and (max-width: 500px)
{
    #nav-btn
    {
        display: block;
        padding: 2vw;
        font-size: 3vw;
        border: none;
        cursor: pointer;
        align-self: flex-start;
    }
    ul
    {

        flex-direction: column;
    }
    li
    {
        display: none;
        list-style-type:none ;
        margin: 0;
        
         font-size: 3vh;
    }
    a
    {
        color: white;
        text-decoration-color: aliceblue;
        display: block;
    }
}
a
{
    color: white;
    
    text-decoration-color: aliceblue;
    
    text-decoration: none;
}
a:hover
{
    
    color: rgb(212, 195, 156);
}
a:active
{
    color: darkgrey;
}

.banner
{
   padding-top:5vh; 
    
    max-width:100vw;
    max-height: 53vw;
    overflow: hidden;
}
.card-logo
{   
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

h2
{
    color:grey;
    margin:2vh 8vw;
    
}
.slider
{
    flex-direction:row;
    display: flex; 
    margin:3vh 0;
    height: 26vh;
    overflow: hidden;
    position: relative;
}
.slider-content-active
{
    flex-direction: column;
    display: flex;
    width:23vw;
    overflow: hidden;
    margin:0 0 0 18vw;
    display: inline-block;
    
    
}
.slider-content
{
    display: none;
    
    
    
    
}

.card-logo
{
    background-color:rgb(102, 223, 162);
    width:23vw;
    height:18vh;
}
.card-content
{
    
    max-width:23vw;
    flex-direction: column;
    font-size: 3vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(219, 223, 189);
    height: 8vh;
    
}
.arrow
{
    cursor: pointer;
    position: absolute;
    margin:10vh 8vw;
    width: 0;
    
    height: 0;
    border-style:solid; 
}
#arrow-left
{
    border-width:3vh 3vw 3vh 0;
    border-color:transparent #246fb9 transparent transparent;
    left: 0;
    margin-left:8vw ;  
}
#arrow-right
{
    border-width:3vh 0 3vh 3vw;
    border-color:transparent transparent transparent #246fb9 ;
    right: 0;
    margin-right:8vw;  
}