<div class="row header1" style="background-color: #EEEEEE;margin-right: 0;margin-left: 0;margin-top:6vh;max-width: 100vw;">
	
    <div class="col-lg-4">
		<div class="jumbotron">
			<div class="container text-center">
				<h1>Freelance Marketplace</h1>
				<p>Remember, time is money. Use it properly. Do not waste your time thinking when others are getting things done here.</p>
				<a href="register.html" class="btn btn-warning btn-lg">It's Free!! Join Now!!!</a>
				<p></p>
				<div class="btn-group">
					<a href="#how" type="button" class="btn btn-info">How it works</a>
					<a href="#faq" type="button" class="btn btn-default">FAQ</a>
					<a href="#category" type="button" class="btn btn-info">Catagories</a>
				</div>
			</div>
		</div>	
	</div>
<!--End Header-->

<!--slider-->
	<div class="col-lg-8" style="padding:0;">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarou
			*-sel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="../../assets/computer.jpg" alt="Chania">
		      <div class="carousel-caption">
		        <h3>Work</h3>
		        <p>Work hard to be successful.</p>
		      </div>
		    </div>

		    <div class="item">
		      <img src="../../assets/mug.jpg" alt="Chania">
		      <div class="carousel-caption">
		        <h3>Time</h3>
		        <p>Do not waste your time.</p>
		      </div>
		    </div>

		    <div class="item">
		      <img src="../../assets/coat.jpg" alt="Flower">
		      <div class="carousel-caption">
		        <h3>Believe</h3>
		        <p>Always believe in yourself.</p>
		      </div>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>

	
</div>
<div style="background:#cce5ff">
	<div class="container text-center" style="padding:5%;">
		<div class="row">
			<div class="col-lg-6 card" style="padding:40px 80px 40px 80px;">
				<h1>Need works done?</h1>
				<p>It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes. Whatever your needs, there will be a freelancer to get it done: from web design, mobile app development, virtual assistants, product manufacturing, and graphic design (and a whole lot more). It is the simplest and safest way to get work done online.</p>
				<p></p>
				<a href="register.html" class="btn btn-success btn-lg">Get Started</a>
			</div>
			<div class="col-lg-6" style="padding:40px 80px 40px 80px;margin-top:15px;box-shadow: 4px 4px 2px 5px rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);background:#fff">
				<h1>Looking for work?</h1>
				<p>If you are an expert in any kind of computer related or online work, then do not hesitate to join our platform. It is easy to use and payment is secured. It is a great platform to those people who are skillful. So do not miss the chance to explore the job posts and make some money.</p>
				<p></p>
				<a href="register.html" class="btn btn-primary btn-lg">Get Started</a>
			</div>
		</div>
	</div>
</div>

<!-- categories -->
<div class="skills">
	<h2>Explore your skills in more than 100 fields</h2> 
	
	<div class="slider">
		<div class="arrow" id="arrow-left"></div>
		<div class="slider-content-active" id="web">
			<div class="card-logo" id="web-logo">
				
			</div>  
			<div class="card-content">
					<span>Web Development</span>
			</div>   
		</div>

		<div class="slider-content-active" id="android">
			<div class="card-logo" id="android-logo">
			 </div>  
			<div class="card-content">
					<span>Android</span>
			</div>   
		</div>
		<div class="slider-content" id="designing">
			<div class="card-logo" id="designing-logo">  
			</div>  
			<div class="card-content">
					<span>Designing</span>
			</div>   
		</div>
		<div class="slider-content" id="ios">
			<div class="card-logo" id="ios-logo">
			</div>  
			<div class="card-content">
					<span>ios Development</span>
			</div>   
		</div>
		<div class="arrow" id="arrow-right"></div>
	</div>
</div>