<footer class="footer-distributed">

    <div class="footer-left">

        <span><img src="../../assets/logo.png" style="height:12vh;width:12vw;"></span>

        <p class="footer-links">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
            ·
            <a [routerLink]="['/home/#about']" routerLinkActive="router-link-active">About</a>
            ·
            <a [routerLink]="['/home/#faq']" routerLinkActive="router-link-active">Faq</a>
        
        </p>

        <p class="footer-company-name">Company Name &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            
            <p><a href="https://goo.gl/maps/wbTcSWVN73AQWwNM7"><i class="fa fa-map-marker"></i> 02,Vaniya vad,Nadiad</a></p>
        </div>

        <div>
            
            <p><a href="tel:7046533543"><i class="fa fa-phone"></i> Developer Contact</a></p>
        </div>

        <div>
            
            <p><a href="mailto:support@company.com"><i class="fa fa-envelope"></i> support@end2end.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            end2end company has been established in 15th oct,2019 with the only purpose of to reach every people of any any end to provide job or to hire employeers for their job.
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/profile.php?id=100007160949781&ref=bookmarks"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/KhokhaniP"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/prijen-khokhani-64090a171/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/STOL7"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>
